@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&display=swap');

body {
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
    text-align:center;
    display:flex;
}

h1, p{
    font-family: 'IM Fell Double Pica', serif;
    margin:5px;
}

p{
   font-size:15px; 
}
main {
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.wrapper {
    height:80vh;
    width:80%;
}

.charSheet {
    border:solid black 2px;
}

.buttons {
    margin:10px;
    display:flex;
    justify-content:space-evenly;
    align-items:space-evenly;
    flex-wrap: wrap;
    padding:10px;
}

.buttons section {
    margin:10px 30px;
    display:flex;
    flex-direction: column-reverse;
    justify-content:center;
    align-items: center;
}

.buttons button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height:50px;
    margin:5px;
    padding:10px;
    text-transform: uppercase;
    background:rgb(223, 223, 223);
    color:black;
    border:none;
    font-size:15px;
}

.buttons button:hover {
    background:rgb(35, 84, 117);
    color:white;
    cursor:pointer;
}

.buttons img {
    margin-bottom:10px;
    width:40px;
}

