@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&display=swap');

body {
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
    text-align:center;
    display:flex;
}

h1, h2, p{
    font-family: 'IM Fell Double Pica', serif;
    margin:5px;
}

h1 {
    font-size:30px;
}

p{
   font-size:15px; 
}
main {
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.wrapper {
    height:80vh;
    width:80%;
}

.buttons {  
    margin:10px;
    padding:10px;
    display:flex;
    align-items:space-around;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons section {
    margin:10px 10px;
    display:flex;
    flex-direction: column-reverse;
    justify-content:center;
    align-items: center;
    background:rgb(223, 223, 223);
}

.buttons button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height:50px;
    margin:5px;
    padding:10px;
    text-transform: uppercase;
    background:none;
    color:black;
    border:none;
    font-size:15px;
}

.buttons section:hover{
    background:rgb(35, 84, 117);
    color:white;
    cursor:pointer;
}

.buttons img {
    margin:5px;
    width:40px;
}

.buttons section p {
    font-size:11px;
    text-transform:uppercase;
}

.charSheet {
    width:80%;
    margin:0 auto;
    padding:10px 0;
    border:solid black 2px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 5fr;
    grid-gap: 10px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.charSheet section section{
    background:rgb(223, 223, 223);
}

#header {
    grid-column: 1/7;
    grid-row: 1/2;
    display:flex;
    justify-content: space-evenly;
}

#header section {
    min-width:25%;
}

#header h2 {
    font-size:40px;
}
#header p {
    font-size:20px;
}